root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background-color: aliceblue;
}
h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}
.hero {
  text-align: center;
}
.hero h2 {
  font-family: var(--default-font-family);
}
.fa-brands {
  font-size: xx-large;
}
